@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}

@mixin flex-text($min-font-size: 14, $max-font-size: 32, $min-viewport-width: 320, $max-viewport-width: 3840) {
  font-size: round(to-zero, calc((#{$min-font-size}px + (#{$max-font-size} - #{$min-font-size}) * ((100vw - #{$min-viewport-width}px) / (#{$max-viewport-width} - #{$min-viewport-width})))), 1px);
}

@mixin flex-text-zoom($zoom: 1, $min-font-size: 14, $max-font-size: 32, $min-viewport-width: 320, $max-viewport-width: 3840) {
  font-size: round(to-zero, calc((#{$min-font-size}px + (#{$max-font-size} - #{$min-font-size}) * ((100vw - #{$min-viewport-width}px) / (#{$max-viewport-width} - #{$min-viewport-width}))) * #{$zoom}), 1px);
}
