$font-family-regular: "sft_regular", system-ui, sans-serif;
$font-family-medium: "sft_medium", system-ui, sans-serif;
$font-family-alternate: "firacode_regular", system-ui, sans-serif;

$WHITE_COLOR: #f4f4f4;
$GOLD_COLOR: #ff9800;
$GREEN_COLOR: #388e3c;
$RED_COLOR: #d32f2f;
$LIGHT_GREY: #d6d6db;
$GREY_COLOR: #444444;
$DARK_GREY_COLOR: #333333;
$DARK_RED_COLOR: #c62828;
